button {
	background-color: white;
	height: 72px;
	width: 204px;
	color: #424447;
	border-radius: 9px;
	font-size: 1.2rem;
	border: 1px #E4E8ED solid;

	&:active {
		border: 1px #6D8EFF solid;
		background-color: #F2F5FF;
	}
}